html, body {

	margin: 0;
	height:	100%;
	width: 100%;

}



/* This is the first row of boxes */
.row-1 {
 display: inline-flex;
 flex-direction: row;
 flex-wrap: nowrap;
 justify-content: space-around;
 align-items: center;
 width: 100%;
 height: 125px;
 padding: 10px 0 10px 0;


}

.rectangle-1 {
	background: #CD0D24;
  width: 30%;
  height: 90%;
   

}

.rectangle-2 {

	background: #4E92DF;
  width: 30%;
  height: 90%;

}

.rectangle-3 {

	background: #4A4A4A;
  width: 30%;
  height: 90%;
 
 }

 p {
  margin: 3%;
  padding: 8px;


 }

/* This is the second row of Boxes under the text */

.row-2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 1.5%;

}


.vert-rec {
  background: #CD0D24;
  height: 258px;
  width: 50%;
  flex: 1 0 0;
}

.hori-rec { 
  background: #4E92DF;
  height: 258px;
  width: 100%;
  flex: 2 0 0;

}

/* This is the third and last row of Boxes */

.row-3 {
 display: flex;
 flex-direction: row;
 align-items: flex-start;
 margin: 3% 1.5%;

}


.long-rec {
  background: #4E92DF;
  width: 70%;
  height: 106px;

}

.thin-rec {
  background: #CD0D24;
  height: 106px;
  width: 5%;

}

.box-rec {
  background: #4A4A4A;
  height: 106px;
  width: 20%;

}

.thin-rect {
  background: #CD0D24;
  height: 106px;
  width: 5%;


}

















